<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>

    <!--引入数据库配置文件-->
    <properties resource="jdbc.properties"/>

    <!--配置log4j-->
    <settings>
        <setting name="logImpl" value="LOG4J"/>
        <!--配置二级缓存 true代表开启-->
        <setting name="cacheEnabled" value="true"/>
        <!--延迟加载-->
        <!--在对象使用时才加载-->
        <setting name="lazyLoadingEnabled" value="true"/>
        <!--关闭实时加载-->
        <setting name="aggressiveLazyLoading" value="false"/>
    </settings>

    <!--起别名-->
    <typeAliases>
        <package name="com.example.model"/>
    </typeAliases>

    <!--配置插件PageHelper-->
    <plugins>
        <!--pagehelper4.0后不用指定方言，且拦截器需要配置拦截器-->
        <plugin interceptor="com.github.pagehelper.PageInterceptor"/>
    </plugins>

    <!--配置环境列表，每个environment代表一个环境，default配置默认选择哪个环境-->
    <environments default="mysql">
        <environment id="mysql">
            <!--type代表使用事物的种类
            1.JDBC：全部使用jdbc的事物管理
            2.Managed：不使用事物管理，也从不提交-->
            <transactionManager type="JDBC"/>
            <!--type代表mybatis获取数据库连接的方式
            1.unPooled 非线程池获取，直接获取一个连接
            2.pooled 使用线程池-->
            <dataSource type="POOLED">
                <property name="driver" value="${driver}"/>
                <property name="url" value="${url}"/>
                <property name="username" value="${username}"/>
                <property name="password" value="${password}"/>
            </dataSource>
        </environment>
    </environments>

    <mappers>
        <!--这面要写文件路径-->
        <mapper resource="com/example/mapper/StudentMapper.xml"/>
    </mappers>

</configuration>